header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(182, 213, 255, 0.4)), url(/banner.png) center/cover no-repeat;
  height: 371px;
  width: 100%; 
}

header h2 {
  font-size: 64px; 
  font-weight: 700;
  color: #000;
  text-align: center;
}
